<div class="mytable">
    <p *ngIf="timeOutStatus" style="text-align: center;color: rgba(206, 232, 8, 0.781);font-size: 20px;">
        <b>{{timeOutDescription}}</b></p>
    <hr>
    <table style="text-align: center;">
        <thead style="text-align: center;">
            <tr>
                <th style="text-align: center;">Product</th>
                <th style="text-align: center;">ID(#)</th>
                <th style="text-align: center;">Name</th>
                <th style="text-align: center;">Rate(₹)</th>
                <th style="text-align: center;">Expiry</th>
                <th style="text-align: center;">Manufacture</th>
                <th style="text-align: center;">Availability(nos.)</th>
                <th style="text-align: center;" colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of productsList">
                <td style="text-align: center;"><img [src]="product.projectImage" style="border-radius: 50%;" width="100px" height="100px"></td>
                <td style="text-align: center;">#{{product.id+1000}}</td>
                <td style="text-align: center;">{{product.productName}}</td>
                <td style="text-align: center;">{{product.productRate}}</td>
                <td style="text-align: center;">{{product.productExpiry}}</td>
                <td style="text-align: center;">{{product.productManufacture}}</td>
                <td style="text-align: center;">{{product.productAvailable}}</td>
                <td (click)="deleteProduct(product.id)" style="text-align: center;color: red;cursor: pointer;"><i class="fa fa-trash" style="font-size: 25px;"></i></td>
                <td (click)="editProduct(product.id)" style="text-align: center;color: rgb(6, 16, 155);cursor: pointer;padding-right: 15px;"><i class="fa fa-pencil" style="font-size: 25px;"></i></td>
            </tr>
        </tbody>
    </table>
<!-- 
    <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
        <div class="card p-4" *ngFor="let product of productsList">
            <div class=" image d-flex flex-column justify-content-center align-items-center"> <button
                    class="btn btn-secondary"> <img [src]="product.projectImage" height="100"
                        width="100" /></button> <span class="name mt-3">Eleanor Pena</span> <span
                    class="idd">@eleanorpena</span>
                <div class="d-flex flex-row justify-content-center align-items-center gap-2"> <span
                        class="idd1">Oxc4c16a645_b21a</span> <span><i class="fa fa-copy"></i></span> </div>
                <div class="d-flex flex-row justify-content-center align-items-center mt-3"> <span class="number">1069
                        <span class="follow">Followers</span></span> </div>
                <div class=" d-flex mt-2"> <button class="btn1 btn-dark">Edit Profile</button> </div>
                <div class="text mt-3"> <span>Eleanor Pena is a creator of minimalistic x bold graphics and digital
                        artwork.<br><br> Artist/ Creative Director by Day #NFT minting@ with FND night. </span> </div>
                <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"> <span><i
                            class="fa fa-twitter"></i></span> <span><i class="fa fa-facebook-f"></i></span> <span><i
                            class="fa fa-instagram"></i></span> <span><i class="fa fa-linkedin"></i></span> </div>
                <div class=" px-2 rounded mt-4 date "> <span class="join">Joined May,2021</span> </div>
            </div>
        </div>
        &nbsp;&nbsp;
        <div class="card p-4">
            <div class=" image d-flex flex-column justify-content-center align-items-center"> <button
                    class="btn btn-secondary"> <img src="https://i.imgur.com/wvxPV9S.png" height="100"
                        width="100" /></button> <span class="name mt-3">Eleanor Pena</span> <span
                    class="idd">@eleanorpena</span>
                <div class="d-flex flex-row justify-content-center align-items-center gap-2"> <span
                        class="idd1">Oxc4c16a645_b21a</span> <span><i class="fa fa-copy"></i></span> </div>
                <div class="d-flex flex-row justify-content-center align-items-center mt-3"> <span class="number">1069
                        <span class="follow">Followers</span></span> </div>
                <div class=" d-flex mt-2"> <button class="btn1 btn-dark">Edit Profile</button> </div>
                <div class="text mt-3"> <span>Eleanor Pena is a creator of minimalistic x bold graphics and digital
                        artwork.<br><br> Artist/ Creative Director by Day #NFT minting@ with FND night. </span> </div>
                <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"> <span><i
                            class="fa fa-twitter"></i></span> <span><i class="fa fa-facebook-f"></i></span> <span><i
                            class="fa fa-instagram"></i></span> <span><i class="fa fa-linkedin"></i></span> </div>
                <div class=" px-2 rounded mt-4 date "> <span class="join">Joined May,2021</span> </div>
            </div>
        </div>
    </div> -->